.link__action {
  a {
    color: @text-green;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.btn__base {
  &--green {
    a, input, button {
      background-color: @btn-bg-green;
      box-shadow: inset 0 4px 7px 0 rgba(255,255,255,.5);
      .transition(all, 0.4s);
      &:hover {
        box-shadow: inset 0 -4px 7px 0 rgba(255,255,255,.5);
      }
    }
  }
}

.modal-title {
  color: @text-green;
}

.modal-content {
  border-radius: 1rem;
}