@pathSlick: "../vendor/slick";
@pathFontAwesome: "../vendor/fontawesome/css";
@pathFancybox: "../vendor/fancybox/";

@import (inline) "@{pathFontAwesome}/all.min.css";
@import (less) "@{pathSlick}/slick";
@import (less) "@{pathSlick}/slick-theme";
@import (inline) "@{pathFancybox}/jquery.fancybox.min.css";

@import "variables/var";
@import "variables/mixin";
@import "components/components";
@import 'components/header';
@import 'components/content';
@import 'components/footer';
