.section__wrap {
  padding: 30px 0;
}

.section__title {
  text-align: center;
  font-size: 2.5em;
  margin: 0 0 20px;
}

.section__text {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.8;
}

.items__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.img__box {
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
  }
}

.number__box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.285em;
  line-height: 1;
  flex-shrink: 0;
  width: 35px;
  height: 35px;
}

.slider__wrap {
  .slick-dots {
    li {
      button {
        height: 15px;
        width: 15px;
        margin: 0;
        border-radius: 100%;
        background-color: #615f5f;
        .transition(background-color, 0.4s);
        &:before {
          display: none;
        }
      }
      &.slick-active {
        button {
          background-color: #bebebe;
        }
      }
    }
  }
}

.slick__arrow {
  position: absolute;
  top: 50%;
  margin-top: -21px;
  width: 42px;
  height: 42px;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  &--left {
    left: 30px;
  }
  &--right {
    right: 30px;
  }
}

.home__main {
  .section__title {
    font-size: 3em;
    font-weight: bold;
  }
  .btn__base {
    margin-top: 40px;
    text-align: center;
    a {
      display: inline-block;
    }
  }
}

.home__main-description {
  .items__wrap {
    flex-wrap: wrap;
    .item__title {
      font-size: 2.5em;
    }
    .item__text {
      border-left: 2px solid #e31e24;
      padding-left: 15px;
    }
  }
  .home__description-title {
    text-align: center;
    line-height: 2;
    color: #e31e24;
    font-size: 2em;
  }
}

.home__about {
  .img__box {
    display: none;
  }
  .items__wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  .item__box {
    width: 50%;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 30px;
  }
  .item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    img {
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }
  .item__text {
    font-size: 1em;
    color: @text-light;
  }
}

.home__print {
  .items__wrap {
    flex-wrap: wrap;
  }
  .item__box {
    display: flex;
    text-align: center;
    width: 50%;
    margin-top: 40px;
    &--inside {
      width: 100%;
      padding: 12px 5px;
    }
    a {
      text-decoration: none;
      outline: none;
    }
    .item__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 150px;
      margin-bottom: 10px;
      img {
        height: auto;
        max-width: 100%;
        max-height: 150px;
      }
    }
    .item__text {
      font-size: 1em;
      color: @text-red;
    }
  }
}

.home__steps {
  .items__wrap {
    flex-wrap: wrap;
  }
  .item__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.14em;
    width: 100%;
    margin-bottom: 30px;
  }
  .number__box {
    margin-right: 10px;
  }
  .btn__base {
    max-width: 270px;
    margin: 35px auto 0;
  }
}

.home__calculate {
  .btn__base {
    margin: 40px 0;
    text-align: center;
    a {
      display: inline-block;
    }
  }
}

.home__companies {
  .items__wrap {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .item__box {
    position: relative;
    padding: 0 10px;
    margin-bottom: 30px;
    text-align: center;
    width: 50%;
  }
  .item__icon {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .item__overlay {
    display: none;
  }
}

.home__portfolio {
  .slider__portfolio {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
  }
  .slick-slide {
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
  .slider__item {
    display: flex!important;
    justify-content: center;
    align-items: center;
    position: relative;
    a {
      z-index: 1;
      position: absolute;
      opacity: 0;
      height: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,.5);
      outline: none;
      text-decoration: none;
      color: @text-light;
      font-size: 2em;
      line-height: 1;
      .transition(all, 0.4s);
    }
    img {
      max-width: 100%;
      height: auto;
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

.home__reviews {
  .slider__reviews {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
  }
}

.youtube {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 300px;
  img {
    max-width: 100%;
    height: auto;
  }
  .play-button {
    position: absolute;
    font-size: 4em;
    line-height: 1;
    color: @text-light;
  }
  iframe {
    height: 100%;
    width: 100%;
  }
}

.home__main-description {
  .item__box {
    width: 100%;
    padding: 0 10px;
  }
  .item__title {
    font-size: 2.857em;
    margin-bottom: 20px;
  }
  .item__sub-title {
    font-size: 1.14em;
    margin-bottom: 20px;
  }
  .item__text {
    font-size: 1em;
    line-height: 1.8;
  }
}

@media screen and (max-width: 768px){
  .home__main {
    .section__box {
      &--right {
        max-width: 400px;
        margin: 0 auto;
      }
    }
  }
  .home__steps {
    .section__box {
      &--left {
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: 1024px){
  .home__portfolio {
    .slider__item {
      max-width: 350px;
      height: 350px;
      width: 100%;
      margin: 0 auto;
      padding: 10px;
    }
  }
  .home__reviews {
    .slick-slide {
      padding: 0 10px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
  .home__about {
    .img__box {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        transform: scale(1.2);
        height: auto;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 600px){
  .home__print {
    .item__box {
      width: 33.33%;
    }
  }
}

@media screen and (min-width: 768px){
  .section__wrap {
    padding: 50px 0;
  }
  .section__title {
    text-align: left;
    margin: 0 0 40px;
  }
  .section__text {
    text-align: left;
  }
  .home__main {
    .page-container {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
    }
    .section__box {
      &--left {
        width: 49%;
      }
      &--right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 2%;
        width: 49%;
      }
    }
    .btn__base {
      text-align: left;
    }
  }
  .home__main-description {
    .item__box {
      width: 50%;
    }
    .page-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .section__box {
      &--left {
        width: 47%;
      }
      &--right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 3%;
        padding: 30px 0 30px 3%;
        width: 47%;
        border-left: 5px solid @text-red;
      }
    }
    .home__description-title {
      text-align: left;
    }
  }
  .home__about {
    .items__wrap {
      justify-content: flex-start;
    }
    .item__box {
      width: 33.33%;
    }
    .page-container {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
    }
    .section__box {
      &--left {
        position: relative;
        display: flex;
        height: inherit;
        width: 49%;
      }
      &--right {
        margin-left: 2%;
        width: 49%;
      }
    }
  }
  .home__calculate {
    .page-container {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
    }
    .section__box {
      &--left {
        width: 49%;
      }
      &--right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 2%;
        width: 49%;
      }
    }
    .btn__base {
      margin: 40px 0 0;
      text-align: left;
    }
  }
  .home__print {
    .item__box {
      &--inside {
        padding: 12px 15px;
      }
      .item__icon {
        img {
          max-width: 150px;
        }
      }
      .item__text {
        font-size: 1.5em;
        line-height: 1.6;
        color: @text-red;
      }
    }
  }
  .home__steps {
    .item__box {
      align-items: flex-start;
      width: 49%;
      margin-right: 2%;
      margin-bottom: 30px;
    }
  }
  .home__companies {
    .item__box {
      width: 33.33%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .home__steps {
    .item__box {
      &:nth-child(2n){
        margin-right: 0;
      }
    }
  }
}

@media screen and (min-width: 1024px){
  .section__title {
    font-size: 2.857em;
  }
  .section__text {
    font-size: 1.57em;
    line-height: 2.7;
  }
  .home__main {
    .section__title {
      font-size: 3.5em;
      letter-spacing: 0.2em;
    }
  }
  .home__main-description {
    .item__box {
      width: 25%;
    }
    .home__description-title {
      font-size: 3em;
      letter-spacing: 0.2em;
    }
    .section__text {
      line-height: 2.2;
    }
  }
  .home__print {
    .item__box {
      width: 20%;
    }
  }
  .home__steps {
    .page-container {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
    }
    .section__box {
      &--left {
        padding-top: 10px;
        width: 27%;
      }
      &--right {
        margin-left: 3%;
        width: 70%;
      }
    }
    .item__box {
      width: 31%;
      margin-right: 2%;
      margin-bottom: 50px;
      &:nth-child(3n){
        margin-right: 0;
      }
    }
  }
  .home__companies {
    .item__box {
      width: 25%;
      &:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8){
        width: 20%;
      }
      &:nth-child(13){
        width: 100%;
      }
    }
    .item__overlay {
      opacity: 0;
      z-index: 10;
      position: absolute;
      left: 50%;
      margin-left: -150px;
      margin-top: 10px;
      width: 300px;
      height: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
        min-width: 100%;
        min-height: 100%;
        height: auto;
        max-height: 250px;
      }
    }
  }
  .home__portfolio {
    .slick-slide {
      opacity: 0;
      height: 400px;
      transition: all .5s ease .4s, opacity .5s ease;
      .slider__item {
        transition: all .8s ease;
      }
      &.slick-active {
        opacity: 0.4;
        position: relative;
        transform: translateX(60px);
        transition: all .5s ease .2s;
        .slider__item {
          transform: scale(1.2);
        }
        & + .slick-active {
          opacity: 0.8;
          transform: translateX(30px);
          transition: all .5s ease .4s;
          .slider__item {
            transform: scale(1.4);
          }
        }
        &.slick-center {
          z-index: 5;
          opacity: 1;
          transform: translateX(0);
          .slider__item {
            a {
              z-index: 1;
              height: 0;
            }
            transform: scale(1.8);
            &:hover {
              a {
                opacity: 1;
                height: 100%;
              }
            }
          }
          & + .slick-active {
            z-index: 4;
            opacity: 0.8;
            transform: translateX(-30px);
            transition: all .5s ease .4s;
            .slider__item {
              transform: scale(1.4);
            }
            & + .slick-active {
              opacity: 0.4;
              transform: translateX(-60px);
              z-index: 3;
              transition: all .5s ease .2s;
              .slider__item {
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
  }
  .home__reviews {
    .slick-slide {
      opacity: 0;
      transition: all .5s ease .4s, opacity .5s ease;
      padding: 0 15px;
      &.slick-active {
        opacity: 1;
        transform: scale(0.9);
        &.slick-center {
          transform: scale(1);
          position: relative;
          z-index: 5;
          img {
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
          }
          & + .slick-active {
            transform: scale(0.9);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px){
  .slick__arrow {
    &--left {
      left: -30px;
    }
    &--right {
      right: -30px;
    }
  }
  .home__about {
    margin-bottom: 100px;
    .img__box {
      position: absolute;
      display: block;
      left: -15%;
      right: 0;
      top: -80px;
      bottom: -180px;
      img {
        max-width: inherit;
        height: 100%;
        width: auto;
      }
    }
  }
}