.footer {
  padding: 30px 0;
  .phone__box, .mail__box {
    a {
      color: @text-light;
    }
  }
  .mail__box {
    text-decoration: underline;
    margin-top: 25px;
    &:hover {
      text-decoration: none;
    }
  }
}

.footer__address, .footer__rights {
  color: @text-light;
  font-size: 1.2em;
  line-height: 1;
}
.footer__address {
  margin-bottom: 25px;
}

.social__box {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 5px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        font-size: 1.4em;
        line-height: 1;
      }
    }
  }
}

.footer__box {
  margin-top: 20px;
}

@media screen and (max-width: 1024px){
  .footer {
    .footer__info {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .footer__box {
    text-align: center;
    .social__box {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 1024px){
  .footer {
    padding: 50px 0;
    .page-container {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;
    }
    .footer__info {
      width: 27%;
    }
    .footer__map {
      width: 70%;
      margin-left: 3%;
    }
  }
  .footer__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .social__box {
      margin-left: auto;
    }
  }
  .footer__address, .footer__rights {
    font-size: 1.42em;
  }
}