body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  background-color: @mainBg;
}

.header {
  top: -75px;
  padding: 10px 0;
  background-color: @mainBg;
  .transition(top, 0.5s);
  .page-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  &.header-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    padding: 10px 0;
    border-bottom: 1px solid @text-red;
    .header__logo {
      max-width: 120px;
    }
    .header__address {
      display: none;
    }
    .header__info {
      .phone__box {
        &:nth-child(2){
          display: none;
        }
      }
    }
    .header__lang {
      display: none;
    }
    .nav__header-btn {
      margin-bottom: 0;
    }
  }
}

.header__logo {
  max-width: 200px;
  img {
    max-width: 90px;
    height: auto;
  }
}

.header__lang {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  nav {
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 10px;
    border: 1px solid lightgray;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    li {
      &:not(:first-child) {
        margin-left: 10px;
      }
      &.current-lang {
        transform: scale(1.2);
        img {
          box-shadow: 2px -2px 5px 0 rgba(0,0,0,.5);
        }
      }
    }
  }
}

.header__address {
  color: @text-black;
  font-size: 1.14em;
  line-height: 1;
  margin-top: 5px;
}

.nav__header {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      a {
        color: @text-light;
        font-size: 1.2em;
        outline: none;
        text-decoration: none;
      }
    }
  }
}

.nav__header-btn {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  z-index: 10;
  margin-bottom: -20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  i {
    background-color: @text-red;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    transition: 0.4s;
    &:nth-child(2){
      top: 8px;
    }
    &:nth-child(3){
      top: 16px;
    }
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    color: @text-red;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1;
  }
  &.active {
    i {
      &:nth-child(1){
        top: 8px;
        transform: rotate(45deg);
      }
      &:nth-child(2){
        display: none;
      }
      &:nth-child(3) {
        top: 8px;
        transform: rotate(-45deg);
      }
    }
  }
}

.phone__box, .mail__box {
  a {
    text-decoration: none;
    outline: none;
    font-size: 1.42em;
    line-height: 1;
    color: @text-red;
    &:hover {
      text-decoration: underline;
    }
  }
}
.phone__box {
  margin-bottom: 5px;
}


@media screen and (max-width: 768px){
  .header__info {
    width: 100%;
    text-align: center;
  }
  .header__logo {
    text-align: center;
    margin: 0 auto 10px;
  }
}

@media screen and (max-width: 1150px){
  .nav__header {
    order: 3;
    width: 100%;
    ul {
      margin-top: 15px;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      display: none;
      background-color: @text-red;
    }
  }
  .header {
    &.header-fixed {
      .header__info {
        .phone__box {
          display: none;
        }
      }
      .header__logo {
        margin: 0 15px 5px auto;
      }
    }
  }
}


@media screen and (min-width: 768px){
  .header__info {
    margin-left: auto;
    text-align: right;
  }
  .header__logo {
    img {
      max-width: 100%;
    }
  }
  .phone__box {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1150px){
  .header {
    padding: 35px 0 10px;
  }
  .nav__header-btn {
    display: none;
  }
  .nav__header {
    margin-left: 30px;
    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      li {
        a {
          color: @text-dark;
          font-size: 1.5em;
        }
      }
      li:not(:first-child) {
        margin-left: 2em;
      }
    }
  }
}