.link__action {
  a {
    outline: none;
    line-height: 1;
    font-size: 1.357em;
  }
}

.btn__base {
  font-size: 1.5em;
  line-height: 1;
  text-align: center;
  a {
    text-decoration: none;
  }
  input, button {
    border: none;
    cursor: pointer;
  }
  a, input, button {
    border-radius: 50px;
    outline: none;
    display: block;
    color: @text-light;
    padding: 13px 15px;
  }
}
.input__base {
  margin: 0 0 30px 0;
  input {
    outline: none;
    padding: 13px 20px;
    width: 100%;
    font-size: 1em;
    line-height: 1;
    color: @text-dark;
    border: 2px solid @text-green;
    border-radius: 50px;
    background-color: @text-light;
    &.wpcf7-not-valid {
      border-color: red;
    }
  }
  .wpcf7-not-valid-tip {
    display: none;
  }
}
.modal-content {
  padding: 1rem 0;
}
.modal-header {
  justify-content: center;
  position: relative;
  border: none;
  .close {
    margin: 0;
    position: absolute;
    top: -10px;
    right: 5px;
    padding: 0.3rem 0.5rem;
    outline: none;
  }
}
.modal-title {
  font-size: 2em;
}
.modal-body {
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
  .btn__base {
    input {
      margin: 0 auto;
    }
  }
}

form {
  div.wpcf7-mail-sent-ok,
  div.wpcf7-validation-errors,
  div.wpcf7-spam-blocked {
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    text-align: center;
  }
  div.wpcf7-validation-errors,
  div.wpcf7-spam-blocked {
    background-color: rgba(255,120,120,.4);
    border: 2px solid red;
  }
  div.wpcf7-mail-sent-ok {
    background-color:rgba(57,143,20,.4);
    border:2px solid #398f14;
  }
}

.recaptch__box {
  margin: 0 0 15px;
  .wpcf7-not-valid-tip {
    font-size: 10px;
    font-weight: 600;
  }
}

@media screen and (min-width: 768px){}

*::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; color: @text-dark;}
*::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; color: @text-dark;}
*:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; color: @text-dark;}
*:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; color: @text-dark;}
*:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
*:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
*:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
*:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}